# Database Connection
DATABASE_URL="file:./dev.db"

# Supabase Shared Backend Configuration (Website 1, Website 2, Website 3)
NEXT_PUBLIC_SUPABASE_URL="https://ickymxuqprfbekxumpop.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your_supabase_anon_key_here"

VITE_SUPABASE_URL="https://ickymxuqprfbekxumpop.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="your_supabase_anon_key_here"

# Admin Auth JWT Secret Key
JWT_SECRET="sparktron_2k26_super_secret_jwt_key_ece_dept_symposium"

# Public Site Configuration
NEXT_PUBLIC_SITE_NAME="SPARKTRON 2K26"
NEXT_PUBLIC_COLLEGE_NAME="St. Joseph's Institute of Technology"
NEXT_PUBLIC_DEPARTMENT_NAME="Department of Electronics and Communication Engineering (ECE)"
NEXT_PUBLIC_SYMPOSIUM_DATE="September 16, 2026"
NEXT_PUBLIC_VENUE="ECE Block Auditorium & Labs, College Campus"
